@import url('https://fonts.googleapis.com/css?family=Nunito:400,600,700');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: #e96443;
  background: linear-gradient(45deg, #e96443 0%, #904e95 100%);
  background-attachment: fixed;
  color: #262626;
  font-family: 'Nunito', sans-serif;
}

.my_social {
  position: absolute;
  top: 25px;
  left: 925px;
}

.my_social a {
  display: inline-block;
  height: 2.5em;
}

.my_social a img {
  height: 1.5em;
}

h1 {
  margin-bottom: 0.9em;
  font-size: 2.5rem;
  font-weight: 700;
}

a {
  outline: none;
  color: $burntSienna;
  text-decoration: none;
}

.row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.divider {
  display: block;
  position: relative;
  margin: 1.125em 0;
  font-size: 0.875em;
  text-align: center;

  &::before, &::after {
    content: '';
    position: absolute;
    top: 50%;
    width: 45%;
    height: 1px;
    background-color: #707070;
  }

  &::before {
    left: 0;
  }

  &::after {
    right: 0;
  }
}

.signup-buttons {
  padding: 0.625em 0 1.125em;
}

.btn {
  display: block;
  padding: 0.75em 0;
  width: 100%;
  height: 2.5em;
  border: none;
  border-radius: 0.375em;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1em;
  text-align: center;
  transition: all 0.2s ease-in;

  >.icon {
    margin-right: 0.625em;
  }

  &-default {
    background-color: #e96443;
    color: #ffffff;

    &:hover {
      background-color: lighten(#e96443, 10%);
    }
  }

  &-facebook {
    background-color: #3b5998;
    color: #ffffff;

    &:hover {
      background-color: lighten(#3b5998, 10%);
    }
  }
}

.form {
  padding: 3.125em 2.5em;
  width: 34.375em;
  background-color: #ffffff;
  border-radius: 0.375em;
  box-shadow: 0 5px 5px rgba(#262626, 0.2);
}

.signup-field {
  position: relative;
  width: 100%;
  height: 100%;
  margin-bottom: 2.25em;

  &-half {
    width: 48%;
  }
}

.label {
  font-size: 1.25em;
  font-weight: 600;
  transition: all 0.2s ease-in;
}

.input-field {
	width: 100%;
	height: 2.25em;
	outline: none;
	border: none;
	border-bottom: 1px solid #262626;
	color: #707070;
	font-size: 1rem;

	&:focus {
		border-bottom-color: #e96443;
	}

	+ .label {
		position: absolute;
		top: 0.25em;
		left: 0;
	}

	&:focus + label, +.label.active {
		top: -1.125em;
		font-size: 1rem;
	}
}

.radio-input {
	display: none;

	+ .label {
		position: relative;
		margin-right: 2em;
		padding-left: 1.625em;
		cursor: pointer;

		&:hover {
			color: #e96443;
		}

		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 1em;
			height: 1em;
			border: 1px solid #262626;
			border-radius: 50%;
		}

		&::after {
			content: '';
			position: absolute;
			top: 3px;
			left: 3px;
			width: 0.8em;
			height: 0.8em;
			border-radius: 50%;
		}
	}

	&:checked + .label::after {
		animation: scaleUp 0.3s ease-in forwards;
		background-color: $burntSienna;
	}
}


/*.containers {
  width: 520px;
  margin: 20px auto;
}

#contact h1 {
  font-family: helvetica;
  font-weight: normal;
  text-align: center;
  color: #c0c0c0;
  padding-top: 50px;
  padding-bottom: 10px;
  width: 375px;
  margin: 0 auto;
  border-bottom: 3px solid #f3f3f3;
}

.cal {
  display: inline-block;
  background: #ffe;
  color: #555;
  font-size: 6px;
  text-align: center;
  transform: scale(1);
  transition: all 0.2s linear;
}

.cal:hover {
  transform: scale(2.5);
  transition: all 0.4s linear;
}

.cal caption {
  background: #d44;
  color: #eee;
  font-size: 15px;
}

.cal th {
  color: #aaa;
  line-height: 200%;
}

.cal th:first-child {
  color: #f00;
}

.cal th:last-child {
  color: #04d;
}

.cal td {
  padding: 0 2px;
  line-height: 100%;
}
